Repository Mai0313/Aimbot-AI, changes with the labels that .github/labeler.yml gives for each.
All labels: Feature: New File, Bugfix: Source Code, Chore: Tests, Chore: Documentation, Chore: CI/CD Workflow, Chore: CI/CD Config, Chore: Code Style, Chore: Requirements

disable drafter since it will be run on build
  .github/workflows/release-drafter.yml
Labels: Chore: CI/CD Workflow, Chore: CI/CD Config

Fix GitHub Actions workflow
  .github/workflows/build.yml
Labels: Chore: CI/CD Workflow, Chore: CI/CD Config

Update capture_percent in screenshot.py and predict_image_path in pred.py
  data_generator/screenshot.py
  src/pred.py
Labels: Feature: New File, Bugfix: Source Code

Refactor predict function call in pred.py
  src/pred.py
Labels: Feature: New File, Bugfix: Source Code

Update dataset paths
  configs/datasets/Argoverse.yaml
  configs/datasets/DOTAv2.yaml
  configs/datasets/GlobalWheat2020.yaml
  configs/datasets/ImageNet.yaml
  configs/datasets/Objects365.yaml
  configs/datasets/SKU-110K.yaml
  configs/datasets/VOC.yaml
  configs/datasets/VisDrone.yaml
  configs/datasets/coco-pose.yaml
  configs/datasets/coco.yaml
  configs/datasets/coco128-seg.yaml
  configs/datasets/coco128.yaml
  configs/datasets/coco8-pose.yaml
  configs/datasets/coco8-seg.yaml
  configs/datasets/coco8.yaml
  configs/datasets/open-images-v7.yaml
  configs/datasets/tiger-pose.yaml
  configs/datasets/xView.yaml
Labels: none

Decrease sleep time in screenshot.py
  data_generator/screenshot.py
Labels: none

Update data_generator README.md and add screenshot images
  data_generator/README.md
  data_generator/imgs/57d3c2c0161410d224f4dcf7d52c30e7.png
  data_generator/imgs/c61b79852eaea5282d2f63ccfbc53175.png
  data_generator/imgs/folder_struct.png
  data_generator/imgs/inside_folder.png
Labels: Chore: Documentation

Refactor pose detection prediction code
  .pre-commit-config.yaml
  src/pred.py
Labels: Feature: New File, Bugfix: Source Code, Chore: Code Style

chore: update pre-commit hooks
  .pre-commit-config.yaml
Labels: Chore: Code Style

Update predict_image_folder path in pred.py
  src/pred.py
Labels: Feature: New File, Bugfix: Source Code

Update model weights in md1.yaml
  configs/experiments/md1.yaml
  pretrained/yolov8l-pose.pt
  pretrained/yolov8m-pose.pt
  pretrained/yolov8s-pose.pt
  pretrained/yolov8x-pose-p6.pt
  pretrained/yolov8x-pose.pt
Labels: none

Update yolov8_model_config and add total_pic count
  configs/experiments/md1.yaml
  src/pred.py
Labels: Feature: New File, Bugfix: Source Code

Update prediction stream parameter in PoseDetectionPredict class
  src/pred.py
Labels: Feature: New File, Bugfix: Source Code

Update best_model_path to accept None value
  src/pred.py
Labels: Feature: New File, Bugfix: Source Code

Fix file write bug in PoseDetectionPredict class
  src/pred.py
Labels: Feature: New File, Bugfix: Source Code

Add optional loggers to predict function
  src/pred.py
Labels: Feature: New File, Bugfix: Source Code

Add /outputs/ to .gitignore
  .gitignore
Labels: none

Refactor code for taking screenshots and triggering mouse clicks
  aim.py
  src/click.py
  src/pred.py
Labels: Feature: New File, Bugfix: Source Code

Fix AimBot trigger bug
  aim.py
Labels: none

Fix MouseController get_position method
  src/click.py
Labels: Feature: New File, Bugfix: Source Code

Fix right-click method in AimBot class
  aim.py
Labels: none

Add pynput to requirements.txt
  requirements.txt
Labels: Chore: Requirements

Add MouseListener class for capturing right-click events
  src/click.py
Labels: Feature: New File, Bugfix: Source Code

Refactor aimbot functionality and add mouse listener
  aim.py
  src/pred.py
Labels: Feature: New File, Bugfix: Source Code

Refactor aimbot mouse listener
  aim.py
Labels: none

Add onnx to requirements.txt and remove yolov8_model_export from export.py
  requirements.txt
  src/export.py
Labels: Feature: New File, Bugfix: Source Code, Chore: Requirements

Update aim.py and pred.py
  aim.py
  src/pred.py
Labels: Feature: New File, Bugfix: Source Code

Add pretrained YOLOv8s custom models
  pretrained/yolov8s_custom.pt
  pretrained/yolov8s_custom_v2.pt
Labels: none

Update yolov8s_custom.pt model weights
  pretrained/yolov8s_custom_v2.pt
  src/pred.py
Labels: Feature: New File, Bugfix: Source Code

Fix exception handling in PoseDetectionPredict class
  src/pred.py
Labels: Feature: New File, Bugfix: Source Code

Update predict_image_folder path
  src/pred.py
Labels: Feature: New File, Bugfix: Source Code

Update yolov8 model weights
  pretrained/yolov8-cs2.pt
Labels: none

Update YOLOv8 model weights
  src/pred.py
Labels: Feature: New File, Bugfix: Source Code

Fix: Accuracy issue (#6)
  .gitignore
  .pre-commit-config.yaml
  aim.py
  configs/experiments/md1.yaml
  pretrained/yolov8-cs2.pt
  pretrained/yolov8l-pose.pt
  pretrained/yolov8m-pose.pt
  pretrained/yolov8s-pose.pt
  pretrained/yolov8s_custom.pt
  pretrained/yolov8x-pose-p6.pt
  pretrained/yolov8x-pose.pt
  requirements.txt
  src/click.py
  src/export.py
  src/pred.py
Labels: Feature: New File, Bugfix: Source Code, Chore: Code Style, Chore: Requirements

Add pretrained model for head and body
  pretrained/326_head_body.pt
Labels: none

Add pretrained model for head and body (#7)
  pretrained/326_head_body.pt
Labels: none

Add nvidia-pyindex to requirements.txt
  requirements.txt
Labels: Chore: Requirements

Add pretrained models for object detection
  pretrained/finetuned/326_head_body.pt
  pretrained/finetuned/yolov8-cs2.pt
  pretrained/official/yolov8l-pose.pt
  pretrained/official/yolov8m-pose.pt
  pretrained/official/yolov8n-cls.pt
  pretrained/official/yolov8n-pose.pt
  pretrained/official/yolov8n-seg.pt
  pretrained/official/yolov8n.pt
  pretrained/official/yolov8s-pose.pt
  pretrained/official/yolov8x-pose-p6.pt
  pretrained/official/yolov8x-pose.pt
  pretrained/owned/yolov8s_custom.pt
Labels: none

Add pretrained models for CS:GO and Valorant
  pretrained/finetuned/csgo/326_head_body.pt
  pretrained/finetuned/csgo/yolov8m-csgo.pt
  pretrained/finetuned/csgo/yolov8n-csgo.pt
  pretrained/finetuned/csgo/yolov8s-csgo.pt
  pretrained/finetuned/valorant/yolov8m-valorant.pt
  pretrained/finetuned/valorant/yolov8n-valorant.pt
  pretrained/finetuned/valorant/yolov8s-valorant.pt
Labels: none

Refactor logging in predict method
  .gitignore
  src/pred.py
Labels: Feature: New File, Bugfix: Source Code

.github/labeler.yml:

"Feature: New File":
- 'src/**/*'
- 'tests/**/*'

"Bugfix: Source Code":
- 'src/**/*.py'

"Chore: Tests":
- 'tests/**/*.py'

"Chore: Documentation":
- '**/*.md'
- 'docs/**/*'

"Chore: CI/CD Workflow":
- .github/workflows/**

"Chore: CI/CD Config":
- .github/**

"Chore: Code Style":
- .pre-commit-config.yaml
- pyproject.toml

"Chore: Requirements":
- requirements.txt
