Repository Mai0313/Aimbot-AI, changes with the labels that .github/labeler.yml gives for each.
All labels: Feature: New File, Bugfix: Source Code, Chore: Tests, Chore: Documentation, Chore: CI/CD Workflow, Chore: CI/CD Config, Chore: Code Style, Chore: Requirements

.github/labeler.yml:

"Feature: New File":
- 'src/**/*'
- 'tests/**/*'

"Bugfix: Source Code":
- 'src/**/*.py'

"Chore: Tests":
- 'tests/**/*.py'

"Chore: Documentation":
- '**/*.md'
- 'docs/**/*'

"Chore: CI/CD Workflow":
- .github/workflows/**

"Chore: CI/CD Config":
- .github/**

"Chore: Code Style":
- .pre-commit-config.yaml
- pyproject.toml

"Chore: Requirements":
- requirements.txt

Refactor export format options in PoseDetectionExport
  pretrained/finetuned/csgo/yolov5s-csgo-326_head_body.pt
  src/export.py
Labels: Feature: New File, Bugfix: Source Code

Update yolov8_model_export_format in PoseDetectionExport
  src/export.py
Labels: Feature: New File, Bugfix: Source Code

Add ammo path files for various weapons
  aim-csgo/ammo_path/ak47.csv
  aim-csgo/ammo_path/aug.csv
  aim-csgo/ammo_path/bizon.csv
  aim-csgo/ammo_path/cz75.csv
  aim-csgo/ammo_path/famas.csv
  aim-csgo/ammo_path/galil.csv
  aim-csgo/ammo_path/m249.csv
  aim-csgo/ammo_path/m4a1.csv
  aim-csgo/ammo_path/m4a4.csv
  aim-csgo/ammo_path/mac10.csv
  aim-csgo/ammo_path/mp5sd.csv
  aim-csgo/ammo_path/mp7.csv
  aim-csgo/ammo_path/mp9.csv
  aim-csgo/ammo_path/p90.csv
  aim-csgo/ammo_path/sg553.csv
  aim-csgo/ammo_path/ump45.csv
Labels: none

Update weapon ammo files
  aim-csgo/ammo_path/ak47.csv
  aim-csgo/ammo_path/aug.csv
  aim-csgo/ammo_path/bizon.csv
  aim-csgo/ammo_path/cz75.csv
  aim-csgo/ammo_path/famas.csv
  aim-csgo/ammo_path/galil.csv
  aim-csgo/ammo_path/m249.csv
  aim-csgo/ammo_path/m4a1.csv
  aim-csgo/ammo_path/m4a4.csv
  aim-csgo/ammo_path/mac10.csv
  aim-csgo/ammo_path/mp5sd.csv
  aim-csgo/ammo_path/mp7.csv
  aim-csgo/ammo_path/mp9.csv
  aim-csgo/ammo_path/p90.csv
  aim-csgo/ammo_path/sg553.csv
  aim-csgo/ammo_path/ump45.csv
Labels: none

Add get_ammo_path.py to aim-csgo module
  aim-csgo/get_ammo_path.py
Labels: none

Add grab_screen function to aim-csgo module
  aim-csgo/grabscreen.py
Labels: none

Add Makefile with test target
  Makefile
Labels: none

Fix pre-commit command in Makefile
  Makefile
Labels: none

Add aimbot functionality to CSGO script
  aim-csgo/main.py
Labels: none

Remove unnecessary comments and imports
  aim-csgo/main.py
Labels: none

Update imports and fix function calls
  aim-csgo/main.py
Labels: none

Dev/csgo (#8)
  .gitignore
  Makefile
  aim-csgo/ammo_path/ak47.csv
  aim-csgo/ammo_path/aug.csv
  aim-csgo/ammo_path/bizon.csv
  aim-csgo/ammo_path/cz75.csv
  aim-csgo/ammo_path/famas.csv
  aim-csgo/ammo_path/galil.csv
  aim-csgo/ammo_path/m249.csv
  aim-csgo/ammo_path/m4a1.csv
  aim-csgo/ammo_path/m4a4.csv
  aim-csgo/ammo_path/mac10.csv
  aim-csgo/ammo_path/mp5sd.csv
  aim-csgo/ammo_path/mp7.csv
  aim-csgo/ammo_path/mp9.csv
  aim-csgo/ammo_path/p90.csv
  aim-csgo/ammo_path/sg553.csv
  aim-csgo/ammo_path/ump45.csv
  aim-csgo/get_ammo_path.py
  aim-csgo/grabscreen.py
  aim-csgo/main.py
  pretrained/finetuned/csgo/yolov5s-csgo-326_head_body.pt
  pretrained/finetuned/csgo/yolov8m-csgo.pt
  pretrained/finetuned/csgo/yolov8n-csgo.pt
  pretrained/finetuned/csgo/yolov8s-csgo.pt
  pretrained/finetuned/valorant/yolov8m-valorant.pt
  pretrained/finetuned/valorant/yolov8n-valorant.pt
  pretrained/finetuned/valorant/yolov8s-valorant.pt
  pretrained/official/yolov8l-pose.pt
  pretrained/official/yolov8m-pose.pt
  pretrained/official/yolov8n-cls.pt
  pretrained/official/yolov8n-pose.pt
  pretrained/official/yolov8n-seg.pt
  pretrained/official/yolov8n.pt
  pretrained/official/yolov8s-pose.pt
  pretrained/official/yolov8x-pose-p6.pt
  pretrained/official/yolov8x-pose.pt
  pretrained/owned/yolov8s_custom.pt
  src/export.py
  src/pred.py
Labels: Feature: New File, Bugfix: Source Code

feat: add new method and improve logging and execution in PoseDetectionPredict class
  requirements.txt
  src/pred.py
Labels: Feature: New File, Bugfix: Source Code, Chore: Requirements

feat: add new method and improve logging and execution in PoseDetectionPredict class (#10)
  requirements.txt
  src/pred.py
Labels: Feature: New File, Bugfix: Source Code, Chore: Requirements

ci: update action list
  .github/workflows/build.yml
  .github/workflows/code-quality-check.yaml
  .github/workflows/pre-commit-updater.yml
  .github/workflows/release-drafter.yml
  .github/workflows/test.yml
  .github/workflows/todo-issue.yml
Labels: Chore: CI/CD Workflow, Chore: CI/CD Config

ci: update action list (#11)
  .github/workflows/build.yml
  .github/workflows/code-quality-check.yaml
  .github/workflows/pre-commit-updater.yml
  .github/workflows/release-drafter.yml
  .github/workflows/test.yml
  .github/workflows/todo-issue.yml
Labels: Chore: CI/CD Workflow, Chore: CI/CD Config

fix: replace shell to powershell
  .github/workflows/build.yml
Labels: Chore: CI/CD Workflow, Chore: CI/CD Config

fix: trigger moment
  .github/workflows/build.yml
Labels: Chore: CI/CD Workflow, Chore: CI/CD Config

fix: replace shell to powershell (#12)
  .github/workflows/build.yml
Labels: Chore: CI/CD Workflow, Chore: CI/CD Config

chore: update pre-commit hooks
  .pre-commit-config.yaml
Labels: Chore: Code Style

chore: update pre-commit hooks
  .pre-commit-config.yaml
Labels: Chore: Code Style
