Repository Mai0313/Aimbot-AI, changes with the labels that .github/labeler.yml gives for each.
All labels: Feature: New File, Bugfix: Source Code, Chore: Tests, Chore: Documentation, Chore: CI/CD Workflow, Chore: CI/CD Config, Chore: Code Style, Chore: Requirements

.github/labeler.yml:

"Feature: New File":
- 'src/**/*'
- 'tests/**/*'

"Bugfix: Source Code":
- 'src/**/*.py'

"Chore: Tests":
- 'tests/**/*.py'

"Chore: Documentation":
- '**/*.md'
- 'docs/**/*'

"Chore: CI/CD Workflow":
- .github/workflows/**

"Chore: CI/CD Config":
- .github/**

"Chore: Code Style":
- .pre-commit-config.yaml
- pyproject.toml

"Chore: Requirements":
- requirements.txt

Update requirements.txt with new package versions
  requirements.txt
Labels: Chore: Requirements

Add build workflow for generating data
  .github/workflows/build.yml
Labels: Chore: CI/CD Workflow, Chore: CI/CD Config

Add new configuration files for models and datasets
  configs/__init__.py
  configs/datasets/Argoverse.yaml
  configs/datasets/DOTAv2.yaml
  configs/datasets/GlobalWheat2020.yaml
  configs/datasets/ImageNet.yaml
  configs/datasets/Objects365.yaml
  configs/datasets/SKU-110K.yaml
  configs/datasets/VOC.yaml
  configs/datasets/VisDrone.yaml
  configs/datasets/coco-pose.yaml
  configs/datasets/coco.yaml
  configs/datasets/coco128-seg.yaml
  configs/datasets/coco128.yaml
  configs/datasets/coco8-pose.yaml
  configs/datasets/coco8-seg.yaml
  configs/datasets/coco8.yaml
  configs/datasets/open-images-v7.yaml
  configs/datasets/tiger-pose.yaml
  configs/datasets/xView.yaml
  configs/default.yaml
  configs/experiments/md1.yaml
  configs/models/rt-detr/rtdetr-l.yaml
  configs/models/rt-detr/rtdetr-x.yaml
  configs/models/v3/yolov3-spp.yaml
  configs/models/v3/yolov3-tiny.yaml
  configs/models/v3/yolov3.yaml
  configs/models/v5/yolov5-p6.yaml
  configs/models/v5/yolov5.yaml
  configs/models/v6/yolov6.yaml
  configs/models/v8/yolov8-cls.yaml
  configs/models/v8/yolov8-p2.yaml
  configs/models/v8/yolov8-p6.yaml
  configs/models/v8/yolov8-pose-p6.yaml
  configs/models/v8/yolov8-pose.yaml
  configs/models/v8/yolov8-rtdetr.yaml
  configs/models/v8/yolov8-seg-p6.yaml
  configs/models/v8/yolov8-seg.yaml
  configs/models/v8/yolov8.yaml
  configs/trackers/botsort.yaml
  configs/trackers/bytetrack.yaml
Labels: none

Add code for organizing and moving labels
  notebooks/move.ipynb
  notebooks/pose_detection.ipynb
Labels: none

Add data generator script and requirements.txt
  data_generator/gen_data.py
  data_generator/requirements.txt
Labels: none

Add new files and update existing files
  aim.py
  src/click.py
  src/export.py
  src/pred.py
  src/pred_onxx.py
  src/train.py
Labels: Feature: New File, Bugfix: Source Code

Add user.yaml file with aim settings
  settings/user.yaml
Labels: none

Add pretrained YOLOv8n models
  pretrained/yolov8n-cls.pt
  pretrained/yolov8n-pose.pt
  pretrained/yolov8n-seg.pt
  pretrained/yolov8n.pt
Labels: none

Remove unnecessary verification step
  .github/workflows/build.yml
Labels: Chore: CI/CD Workflow, Chore: CI/CD Config

Update build and test workflows
  .github/workflows/build.yml
  .github/workflows/test.yml
Labels: Chore: CI/CD Workflow, Chore: CI/CD Config

Refactor code and remove unused imports
  data_generator/gen_data.py
  data_generator/requirements.txt
Labels: none

Update build.yml to use 'dir' command instead of 'ls -l'
  .github/workflows/build.yml
Labels: Chore: CI/CD Workflow, Chore: CI/CD Config

Add data generator and game screenshot
  data_generator/READNE.md
  data_generator/imgs/image.png
Labels: Chore: Documentation

Add console logging for aim_position
  aim.py
  data_generator/READNE.md
  requirements.txt
Labels: Chore: Documentation, Chore: Requirements

Add .gitignore rules for /data/ and /runs/ directories
  .gitignore
  data_generator/README.md
Labels: Chore: Documentation

Update dataset root directory path
  configs/datasets/coco8-pose.yaml
Labels: none

Update dataset paths
  configs/datasets/Argoverse.yaml
  configs/datasets/DOTAv2.yaml
  configs/datasets/GlobalWheat2020.yaml
  configs/datasets/ImageNet.yaml
  configs/datasets/Objects365.yaml
  configs/datasets/SKU-110K.yaml
  configs/datasets/VOC.yaml
  configs/datasets/VisDrone.yaml
  configs/datasets/coco-pose.yaml
  configs/datasets/coco.yaml
  configs/datasets/coco128-seg.yaml
  configs/datasets/coco128.yaml
  configs/datasets/coco8-seg.yaml
  configs/datasets/coco8.yaml
  configs/datasets/open-images-v7.yaml
  configs/datasets/tiger-pose.yaml
  configs/datasets/xView.yaml
Labels: none

Add yolov8n.pt file
  yolov8n.pt
Labels: none

Update output_model save_prediction to True
  configs/experiments/md1.yaml
Labels: none

Fix image path truncation in prediction
  src/pred.py
Labels: Feature: New File, Bugfix: Source Code

Update dataset paths
  configs/datasets/Argoverse.yaml
  configs/datasets/DOTAv2.yaml
  configs/datasets/GlobalWheat2020.yaml
  configs/datasets/ImageNet.yaml
  configs/datasets/Objects365.yaml
  configs/datasets/SKU-110K.yaml
  configs/datasets/VOC.yaml
  configs/datasets/VisDrone.yaml
  configs/datasets/coco-pose.yaml
  configs/datasets/coco.yaml
  configs/datasets/coco128-seg.yaml
  configs/datasets/coco128.yaml
  configs/datasets/coco8-pose.yaml
  configs/datasets/coco8-seg.yaml
  configs/datasets/coco8.yaml
  configs/datasets/open-images-v7.yaml
  configs/datasets/tiger-pose.yaml
  configs/datasets/xView.yaml
Labels: none

Update .gitignore to ignore /data/ directory
  .gitignore
Labels: none

Remove print statement in pred_onxx.py
  src/pred_onxx.py
Labels: Feature: New File, Bugfix: Source Code

Add dvc_gdrive to requirements.txt
  requirements.txt
Labels: Chore: Requirements

Add .dvc configuration files and ignore files
  .dvc/.gitignore
  .dvc/config
  .dvcignore
Labels: none

Update optimizer and epochs in trainer configuration
  configs/experiments/md1.yaml
Labels: none

Refactor predict method to accept a single image path
  src/pred.py
Labels: Feature: New File, Bugfix: Source Code

rename gen_data to screenshot
  .github/workflows/build.yml
  data_generator/README.md
  data_generator/screenshot.py
Labels: Chore: Documentation, Chore: CI/CD Workflow, Chore: CI/CD Config

refactor cmd command
  .github/workflows/build.yml
Labels: Chore: CI/CD Workflow, Chore: CI/CD Config

style: add artificial name to screenshot
  .github/workflows/build.yml
Labels: Chore: CI/CD Workflow, Chore: CI/CD Config

remove gpt review
  .github/workflows/gpt-code-review.yml
Labels: Chore: CI/CD Workflow, Chore: CI/CD Config

ci: remove python 3.10 from testing
  .github/workflows/test.yml
Labels: Chore: CI/CD Workflow, Chore: CI/CD Config

feat: add env variable to build
  .github/workflows/build.yml
Labels: Chore: CI/CD Workflow, Chore: CI/CD Config

add event for drafter
  .github/workflows/release-drafter.yml
Labels: Chore: CI/CD Workflow, Chore: CI/CD Config

update with github
  .github/workflows/build.yml
  .github/workflows/test.yml
Labels: Chore: CI/CD Workflow, Chore: CI/CD Config

add create release
  .github/workflows/build.yml
Labels: Chore: CI/CD Workflow, Chore: CI/CD Config

replace name
  .github/workflows/build.yml
Labels: Chore: CI/CD Workflow, Chore: CI/CD Config

Feat: Add CI/CD for build .exe files for windows; it works on linux either.
  .github/workflows/build.yml
Labels: Chore: CI/CD Workflow, Chore: CI/CD Config

fix: replace trigger, it triggers when it's merged
  .github/workflows/build.yml
Labels: Chore: CI/CD Workflow, Chore: CI/CD Config

update version for draft release from 5.24 to 25
  .github/workflows/build.yml
Labels: Chore: CI/CD Workflow, Chore: CI/CD Config
